$main-bg-color: #28353D;
$contact-text-color: #E8E8E8;
$text-color: #595B57;
$footer-bg-color: #28353D;

$istek-color: #0AA699;
$destek-color: #F35958;
$common-blue-color: #0090D9;

$warning-color: #F57F17;
$succes-color: #4CAF50;
$danger-color: #F44336;

$chat-bg-color: #F3F3F3;
$chat-header-bg-color: #00A6A0;
$chat-user-online-color: #6AFF9B;
$chat-user-offline-color: #F44336;