$main-bg-color: #28353D;
$contact-text-color: #E8E8E8;
$text-color: #595B57;
$footer-bg-color: #28353D;

$istek-color: #0AA699;
$destek-color: #F35958;
$common-blue-color: #0090D9;

$warning-color: #F57F17;
$succes-color: #4CAF50;
$danger-color: #F44336;
