#about-us{
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100%;
  .about-us-desc{
    font-size: 18px;
    margin-bottom: 20px;
  }

  span.about-us-istek{
    color: $istek-color;
    font-size: 20px;
    font-weight: 700;
  }

  span.about-us-destek{
    color: $destek-color;
    font-size: 20px;
    font-weight: 700;
  }

  .about-us-team{
    margin-top: 25px;

    .about-us-team-block{
      border: 1px solid #f2f2f2;
      transition: all .3s ease;
      margin-bottom: 20px;
      &:hover{
        background-color: #f2f2f2;
      }
    }
    .about-us-team-img{
      img{
        object-fit: cover;
        height: 300px;
        width: 100%;
      }
    }
    .about-us-team-social{
      position: absolute;
    }
    .about-us-team-details{
      padding: 15px;
      padding-bottom: 0;
    }
    .about-us-team-details-title{
      font-size: 24px;
      font-weight: 700;
      margin-top: 0px;
    }
    .about-us-team-details-desc{
      font-size: 14px;
    }
  }
}
