#password-reset{
  margin-top: 30px;
  min-height: 100%;
  input[type='email']{
    height: 40px;
    border-radius: 0;
    &:focus{
      border-color: $main-bg-color;
      box-shadow: none;
    }
  }
  .pass-reset-form{
    padding-bottom: 500px;
  }
  button[type='submit']{
    background-color: $common-blue-color;
    color: white;
    transition: all .3s ease;
    border: none;
    border-radius: 0;
    &:hover{
      background-color: darken($common-blue-color, 5%);
    }
  }
}

#reset-second-step{
  margin-top: 50px;
  height: 100%;
  input[type='email'], input[type='password']{
    height: 40px;
    border-radius: 0;
    &:focus{
      border-color: $main-bg-color;
      box-shadow: none;
    }
  }
  button{
    background-color: $common-blue-color;
    transition: all .3s ease;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    &:hover{
      background-color: darken($common-blue-color, 5%);
    }
  }
}
